<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>

    <style>
        .error {color:indianred}
    </style>
</head>
<body>
<fieldset style="width: 250px;">
    <legend>Registration form</legend>
<i>Fill out the form. Asterisk (*) marks required fields.</i>
<br><hr><br>
<form th:action="@{/processForm}" th:object="${customer}" method="POST">

    First name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last name (*): <input type="text" th:field="*{lastName}" />
    <!-- add error msg (if present) -->
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"></span>
    <br><br>
    Number of free passes: <input type="text" th:field="*{freePasses}" />
    <span th:if="${#fields.hasErrors('freePasses')}"
          th:errors="*{freePasses}"
          class="error"></span>
    <br><br>
    <input type="submit" value="SUBMIT">
</form>
</fieldset>

</body>
</html>