<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World input form</title>
</head>
<body>
<!--
<form th:action="@{/processForm}" method="GET" >
    <input type="text" name="studentName" placeholder="What's your name?" />
    <input type="submit"/>
</form>
-->

<!--
<form th:action="@{/processFormV2}" method="GET" >
    <input type="text" name="studentName" placeholder="What's your name?" />
    <input type="submit"/>
</form>
-->
<!--
renders the result:

Hello, world of Spring!

Student name: Adrien

The message: Yo! ADRIEN
-->

<form th:action="@{/processFormV3}" method="GET" >
    <input type="text" name="studentName" placeholder="What's your name?" />
    <input type="submit"/>
</form>
<!--
renders the result:

Hello, world of Spring!

Student name: Darko

The message: Hello, V3! Welcome, DARKO
-->

</body>
</html>