<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Java, Spring, Spring Boot, Hibernate, Maven, MVC, Thymeleaf, demo project" />
    <meta name="author" content="MS" />
    <meta name="description" content="Udemy Spring 3, Spring Boot 6 and Hibernate course" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>helloWorld</title>
    <!-- reference CSS file -->
    <link rel="stylesheet" th:href="@{/css/helloworld.css}" />
</head>

<body>

<p th:text="'Time on the server is ' + ${theDate}" class="ubuntu" />
<!--
Time on the server is Mon Jan 29 22:57:31 CET 2024
-->

</body>

</html>