<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student confirmation form</title>

  <!-- reference CSS file -->
  <link rel="stylesheet" th:href="@{/css/helloworld.css}" />

</head>
<body>
<div class="ubuntu">
  <h3>Student Confirmation Form</h3>

  The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"></span>
  <br>
  The student's chosen country: <span th:text="${student.country}"></span>
  <br>
  Selected course: <span th:text="${student.course}"></span>
  <br>
  Preferred OS:
  <!--
  Preferred OS: <span th:text="${student.pos}"></span>
  -->
  <ul>
    <li th:each="tempOs : ${student.pos}" th:text="${tempOs}" />
  </ul>
</div>


</body>
</html>