<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student registration form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}" />
    <br><br>
    Last name: <input type="text" th:field="*{lastName}" />
    <br><br>
    Country:
    <select th:field="*{country}">
        <!-- tempCountry is the temp loop variable-->
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
        <!-- hardcoded options:
        <option th:value="France">France</option>
        <option th:value="Norway">Norway</option>
        <option th:value="Poland">Poland</option>
        <option th:value="Russia">Russia</option>
        <option th:value="Switzerland">Switzerland</option>
        -->
    </select>
    <br><br>
    Choose a course:
    <input type="radio" th:field="*{course}" th:value="Go">Go</input>
    <input type="radio" th:field="*{course}" th:value="Java">Java</input>
    <input type="radio" th:field="*{course}" th:value="PHP">PHP</input>
    <input type="radio" th:field="*{course}" th:value="Ruby">Ruby</input>
    <br><hr>    <br>
    <input type="submit" value="Submit" />
</form>

</body>
</html>